repos:
    # file checks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml
          - id: check-added-large-files
          - id: check-merge-conflict
          - id: detect-private-key

      # app hooks
    - repo: local
      hooks:
          - id: go-vet
            name: go vet
            entry: go vet ./...
            language: system
            pass_filenames: false
          - id: go-fmt
            name: go fmt
            entry: gofmt -w
            language: system
            files: \.go$

          - id: go-mod-tidy
            name: go mod tidy
            entry: go mod tidy
            language: system
            files: \.go$
            pass_filenames: false

          - id: go-test
            name: go test
            entry: sh -c 'if git ls-files "*_test.go" | grep -q .; then go test -race ./...; else echo "Skipping go test (no test files found)"; fi'
            language: system
            files: \.go$
            pass_filenames: false
